version: 0.0.{build}

# Build worker image (VM template)
image: Visual Studio 2017
  
# tasks
before_build:
- cmd: .paket\paket.exe restore --group Build
- ps: ./.tools/discord/sendwebhook.ps1 start $env:WEBHOOK_URL

build_script:
- cmd: >-
    ./build.bat

on_success:
  - ps: ./.tools/discord/sendwebhook.ps1 success $env:WEBHOOK_URL
on_failure:
  - ps: ./.tools/discord/sendwebhook.ps1 failure $env:WEBHOOK_URL


test: off

artifacts:
- path: build\lib
  name: EsiStatics
- path: nupkgs\EsiStatics.*.nupkg
  name: EsiStatics.nupkg
