name:   $(MajorVersion).$(MinorVersion).$(BuildID)

trigger:
  branches:
    include:
      - master
      - dev
      - feature/*
    exclude:
      - releases/old*

jobs:
  - job: build
    timeoutInMinutes: 180
    pool:
      vmImage: 'vs2017-win2016'

    steps:
    - powershell: ./.tools/discord/sendazurewebhook.ps1 start $(WEBHOOK_URL)
      displayName: 'Notify start'
    - script: .paket\paket.exe restore --group Build
      displayName: 'Restore packages'
    - script: build.bat
      displayName: 'Run build'
    - task: PublishBuildArtifacts@1
      displayName: 'Package artifacts'
      inputs:
        PathtoPublish: 'nupkgs'
        ArtifactName: 'EsiStatics.nupkg'
        publishLocation: 'Container'
    - task: PublishTestResults@2
      inputs:
        testResultsFormat: 'XUnit'
        testResultsFiles: '**/*.trx'
        mergeTestResults: true
        testRunTitle: 'Publish Test results'
    - powershell: ./.tools/discord/sendazurewebhook.ps1 success $(WEBHOOK_URL)
      displayName: 'Notify success'

  - job: OnBuildFailure
    pool:
      vmImage: 'vs2017-win2016'
    dependsOn: build
    condition: failed()
    steps:
    - powershell: ./.tools/discord/sendazurewebhook.ps1 failure $(WEBHOOK_URL)
      displayName: 'Notify failure'
